<div class="manage-profiles-page">
  <h1>Manage clients</h1>




  <div>
    <form [formGroup]="userDetailsForm" (ngSubmit)="userDetailsOnSubmit()">
      <h3>User details</h3>
      <div>
        <label>
          Username*:
          <input type="text" formControlName="username" disabled required>
        </label>
      </div>
      <div>
        <label>
          Firstname*:
          <input type="text" formControlName="firstname" required>
        </label>
      </div>
      <div>
        <label>
          Lastname*:
          <input type="text" formControlName="lastname" required
          >
        </label>
      </div>
      <div>
        <label>
          Age:
          <input type="text" formControlName="age">
        </label>
      </div>
      <p>*required</p>
      <p>
        Form Status: {{ userDetailsForm.status }}
      </p>
      <button type="submit">Update</button>
    </form>
  </div>

  <app-client-list></app-client-list>
  <app-create-client></app-create-client>
</div>