
header {
  display: flex;
  align-items: center;
  h1 {
    flex-grow: 1;
  }
}

.add-to-wish-list-container {
  ui5-label {
    display: block;
  }

  > div {
    display: flex;
    ui5-button {
      margin-left: 1em;
    }
  }
}